<!doctype html>
<html lang="en-US">
  <head>
    <title>TDI Dashboard</title>
      <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/tdi_dashboard.css">

  </head>




  <body>
    <div id="header">
      <img src="/TDI_logo.png" width=400em id="logo">
      <h1 id="dashboard">Dashboard</h1>
    </div>
    <div id="main">
      <%== yield %>
    </div>
  </body>


</html>
