<h1><%= @workshop %></h1>
<h4>Please select the module you would like to view:</h4>



<form action="/workshops/<%= @workshop %>" method="get">
  <select name="module">
    <% @modules.keys.each do |module_name| %>
      <option><%= module_name %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
