* {
  font-family: sans-serif;
  padding: 1em;
}

H1  {
  text-align: center;
  font-family: sans-serif;
  padding: .5em;
}

H2  {
  text-align: center;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}


p {
  padding: 0;
  margin: 0;
}


.pre {
  float: left;
  display: inline-block;
}

.post {
  float: clear;
  display: inline-block;
}

#logo {
  float: left;
  /* border: dashed; */
  display: inline-block;
  width: 25%;
}

#dashboard {
  float: clear;
  /* border: dashed; */
  display: inline-block;
  width: 50%;
  font-size: 3.5em;
  text-align: center;
  font_family:

}

#header {
  float: clear;
  border: solid;
  display: inline-block;
  width: 95%;
  padding: 0;
  margin: 0;
}

#main {
  /* float: clear; */
  /* border: dashed; */
  clear: right;
  overflow: scroll;
}

/* Fixed sidenav, full height */
#sidenav {
  /* height: 100%; */
  width: 200px;
  /* position: fixed; */
  /* z-index: 1; */
  /* top: 0; */
  left: 0;
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
  /* float: left; */
  /* border: dashed; */
  clear: right;
  float: left;

}

#sidenav li {
  padding: 0;
  margin: 0;
}

#sidenav h4 {
  padding: 0;
  margin: 0;
}
#sidenav h2 {
  padding: 0;
  margin: 0;
}
#sidenav ul {
  padding: 5px;
  margin: 0;
}
#sidenav .module {
  border: solid;
  padding: 20px;
}

.drop-down {
  clear: both;
  width: 100%;
}

.visuals {
  float: clear;
}
